<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hackathon_Suite">
	
	<parameter name="baseURL" value="https://yatra.com"></parameter>
	<parameter name="browser" value="Chrome"></parameter>
	<listeners>
		<listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
	</listeners>
	<test name="Test1">
		<classes> 
			<class name = "com.hackathon.baseTest.BaseTest"/>
			
			<class name="testrunner.TestNGRunner" />
		</classes> 
	</test> <!-- Test -->
</suite> <!-- Suite --> 
	